# Node / Expo
node_modules/
.expo/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Rust
target/
**/*.rs.bk

# Android / Mobile Builds
*.apk
*.aab
android/
ios/

# Database / Secrets
*.db
*.db-journal
.env
.env.*

# OS files
.DS_Store
Thumbs.db
